body { 
  font-size: 15pt;
  background: gray; 
  box-sizing: border-box; 
  margin: 0;
}

p {
  margin: 0;
}

.isHidden { 
  display: none !important;
}

#menuScreen { 
  z-index: 100;
  position: absolute; 
  height: 100%; 
  width: 100%; 
  background: dimgray; 
  padding: 0; 
  margin: 0;
}

#menuBackground { 
  display: flex; 
  height: 100%; 
  width: 100%;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  color: white;
} 

#title {
  margin: 0.1em;
} 

#author {
  margin: 0.3em;
}

#playBtn {
  font-size: 3em; 
  font-family: "Courier New"; 
  color: white;
  Background: darkgreen; 
  border: 3px groove white; 
  border-radius: 0.2em;
}

#gameModeSelector {
  position: absolute; 
  display: flex; 
  padding: 0.2em;
  justify-content: space-between;
  top: 5%; 
  left: 50%; 
  transform: translateX(-50%);
  background: black; 
  border: 3px ridge white;
  border-radius: 1em;
  height: 5%; 
  width: 90%;
} 

#prevBtn {
  border-radius: 1em 0 0 1em; 
  background: gray; 
  width: 2em; 
  font-size: 1em; 
  font-weight: bold;
}

#nextBtn {
  border-radius: 0 1em 1em 0; 
  background: gray;
  width: 2em; 
  font-size: 1em; 
  font-weight: bold;
}

#modeInd { 
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: limegreen; 
  font-family: "Courier New"; 
  font-size: 1em; 
  padding: 0; 
  margin: 0;
}

#scoreDisplay {
  position: absolute; 
  display: flex; 
  padding: 0.2em;
  justify-content: space-around;
  top: 15%; 
  left: 50%; 
  transform: translateX(-50%);
  background: black; 
  border: 3px ridge white;
  border-radius: 1em;
  height: 5%; 
  width: 90%;
}

#corrDiv { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  font-family: "Courier New";
  color: lime; 
}

#mistDiv { 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  font-family: "Courier New";
  color: red;
}

/*---------*/

#typeSection {
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  padding: 0.4em;
  bottom: 5%; 
  left: 50%; 
  transform: translateX(-50%);
  background: black; 
  border: 3px ridge white;
  border-radius: 1em;
  height: 15%; 
  width: 90%;
}

#typeBox { 
  display: flex; 
  align-items: center; 
  justify-content: center;
  background: gray;
  height: 30%; 
  width: 95%; 
  border-radius: 0.1em; 
  color: lime; 
  font-family: "Courier New"; 
  font-weight: bold; 
  overflow: auto;
} 

#typePad { 
  display: flex; 
  justify-content: space-around;
  align-items: center;
  height: 70%; 
  width: 95%; 
  margin-top: 0.2em;
} 

#secA, #secB, #secC, #secD { 
  margin: 0.1em; 
  width: 100%; 
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: space-around;
}

.padKey { 
  margin: 0.1em; 
  width: 100%; 
  height: 100%; 
  background: darkgray;
} 

#clearKey {
  background: indianred; 
}

#enterKey {
  background: seagreen;
}
/*---------*/

#compassRoseCont {
  position: absolute;
  padding: 0.3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  flex-direction: column; 
  background: black; 
  border: 3px ridge white;
  border-radius: 50%;
}

#compassRose { 
  position: relative;
  display: flex;
}

#midBtn { 
  color: white;
  border: 1px dashed white;
  background: darkgreen; 
  font-family: "Courier New";
  display: flex;
  flex-direction: column;
  height: 10em;
  width: 10em;
  align-items: center;
  justify-content: center; 
  text-align: center;
  border-radius: 15em;
  margin: 2.5em;
} 

.arrow { 
  position: absolute;
  text-align: center;
  height: 1em;
  width: 1em;
  border: 1px ridge white;
  border-radius: 0.5em 0.5em 0 0;
}

#N { 
  background: limegreen;
  left: 50%;
  top: 0;
  transform: translateX(-50%)
}

#NbE {
  background: seagreen;
  right: 37.4%;
  top: 0.9%;
  transform: rotate(11.25deg)
}

#NNE {
  background: seagreen;
  right: 28.7%;
  top: 3.4%;
  transform: rotate(22.5deg)
}

#NEbN {
  background: seagreen;
  right: 20.6%;
  top: 7.8%;
  transform: rotate(33.75deg)
}

#NE {
  background: limegreen;
  right: 13.5%;
  top: 13.5%;
  transform: rotate(45deg)
}

#NEbE {
  background: seagreen;
  right: 7.7%;
  top: 20.7%;
  transform: rotate(56.25deg)
}

#ENE {
  background: seagreen;
  right: 3.4%;
  top: 28.7%;
  transform: rotate(67.5deg)
}

#EbN {
  background: seagreen;
  right: 0.9%;
  top: 37.4%;
  transform: rotate(78.75deg)
}

#E {
  background: limegreen;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg)
}

#EbS {
  background: seagreen;
  right: 0.9%;
  bottom: 37.4%;
  transform: rotate(101.25deg)
}

#ESE {
  background: seagreen;
  right: 3.4%;
  bottom: 28.7%;
  transform: rotate(112.5deg)
}

#SEbE {
  background: seagreen;
  right: 7.7%;
  bottom: 20.7%;
  transform: rotate(123.75deg)
}

#SE {
  background: limegreen;
  right: 13.5%;
  bottom: 13.5%;
  transform: rotate(135deg)
}

#SEbS {
  background: seagreen;
  right: 20.6%;
  bottom: 7.8%;
  transform: rotate(146.25deg)
}

#SSE {
  background: seagreen;
  right: 28.7%;
  bottom: 3.4%;
  transform: rotate(157.5deg)
}

#SbE {
  background: seagreen;
  right: 37.4%;
  bottom: 0.9%;
  transform: rotate(168.75deg)
}

#S {
  background: limegreen;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(180deg)
}

#SbW {
  background: seagreen;
  left: 37.4%;
  bottom: 0.9%;
  transform: rotate(191.25deg)
}

#SSW {
  background: seagreen;
  left: 28.7%;
  bottom: 3.4%;
  transform: rotate(202.5deg)
}

#SWbS {
  background: seagreen;
  left: 20.6%;
  bottom: 7.8%;
  transform: rotate(213.75deg)
}

#SW {
  background: limegreen;
  left: 13.5%;
  bottom: 13.5%;
  transform: rotate(225deg)
}

#SWbW {
  background: seagreen;
  left: 7.7%;
  bottom: 20.7%;
  transform: rotate(236.25deg)
}

#WSW {
  background: seagreen;
  left: 3.4%;
  bottom: 28.7%;
  transform: rotate(247.5deg)
}

#WbS {
  background: seagreen;
  left: 0.9%;
  bottom: 37.4%;
  transform: rotate(258.75deg)
}

#W {
  background: limegreen;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(270deg)
}

#WbN {
  background: seagreen;
  left: 0.9%;
  top: 37.4%;
  transform: rotate(281.25deg)
}

#WNW {
  background: seagreen;
  left: 3.4%;
  top: 28.7%;
  transform: rotate(292.5deg)
}

#NWbW {
  background: seagreen;
  left: 7.7%;
  top: 20.7%;
  transform: rotate(303.75deg)
}

#NW {
  background: limegreen;
  left: 13.5%;
  top: 13.5%;
  transform: rotate(315deg)
}

#NWbN {
  background: seagreen;
  left: 20.6%;
  top: 7.8%;
  transform: rotate(326.25deg)
}

#NNW {
  background: seagreen;
  left: 28.7%;
  top: 3.4%;
  transform: rotate(337.5deg)
}

#NbW {
  background: seagreen;
  left: 37.4%;
  top: 0.9%;
  transform: rotate(348.75deg)
}

